@import "~/src/style/static.scss";

.button {
    display: inline-block;
    margin: 8px 0;
    padding: 0px 20px;
    height: 30px;
    background-color: $secondary-color;
    color: $primary-color;
    border-width: 0;
    font-weight: 600;
    @include hover();
}