@import "~/src/style/static.scss";

@mixin txt($fontSize) {
    font-size: $fontSize;
    text-align: center;
    display: block;
    word-wrap: break-word;
}

$backgroundColor: rgba($primary-color, .7);

.itemWrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    /* 縦方向中央揃え（Safari用） */
    align-items: center;
    /* 縦方向中央揃え */
    -webkit-justify-content: center;
    /* 横方向中央揃え（Safari用） */
    justify-content: center;
    /* 横方向中央揃え */
    height: 100%;
    background-color: lavenderblush;
    background-image: url('~/public/station.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .txtWrapper {
        padding: 0 0 100px 0;

        .message {
            @include txt(18px);
            background-color: $backgroundColor;
            box-shadow: 0px -5px 16px 4px $backgroundColor;


        }

        .compLogo {
            @include txt(30px);
            background-color: $backgroundColor;
            box-shadow: 0px 5px 16px 4px $backgroundColor;
        }
    }

    /* ▼画面サイズ（横幅）が600px以上の場合に適用 */
    @media screen and (min-width: 600px) {
        .txtWrapper {
            padding: 0 20% 100px 0;

            .message {
                @include txt(26px);
    
            }
    
            .compLogo {
                @include txt(36px);
            }
        }
    }
}