@import "~/src/style/static.scss";



.opening {
    animation: fade-out 5s ease 0s 1 forwards;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: $primary-color;

    .imageWrapper {
        @include verticalItem(center);
        @include horizontalItem(center);
        animation: fade-up 3s cubic-bezier(0.33, 1, 0.68, 1) 0s 1 forwards;

        .image {
            position: relative;
            width: 100vw;
            height: 24vw;

        }

    }


}

@keyframes fade-up {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        visibility: visible;
    }

    70% {
        opacity: 1;
        visibility: visible;
    }

    90% {
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@media screen and (min-width: 820px) {
    .imageWrapper {}

}