@import "~/src/style/static.scss";


.appBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100vw;
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 999;

    .btnWrapper {
        display: flex;
        align-items: center;

        .logoBtn {
            display: inline-block;
            margin-right: 50px;
            height: 50px;
            border-width: 0;

            &:hover {
                cursor: pointer;
            }
        }

        .pcMode {
            display: none;
        }

    }
}

@media screen and (min-width: 1000px) {
    .appBar {

        .btnWrapper {

            .pcMode {
                display: inline-block;
            }
        }
    }

}