@import "~/src/style/static.scss";


.title {
    font-size: 26px;
    text-align: center;
    color: $secondary-color;

}

.underLine {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    border-radius: 3px;
    height: 2px;
    width: 150px;
    background-color: $secondary-color;
}