@import "~/src/style/static.scss";


.title {
    font-size: 26px;
    text-align: center;
    color: $secondary-color;
    /* ▼画面サイズ（横幅）が600px以上の場合に適用 */
    @media screen and (min-width: 600px) {
        font-size: 36px;
    }

}

.underLine {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 40px;
    border-radius: 3px;
    height: 2px;
    width: 150px;
    background-color: $secondary-color;
}