@import "/src/style/static.scss";

.appWrapper {
    width: 100vw;
    height: 100vh;
    .main {
        background-color: $primary-color;
        height: 100vh;
        width: inherit;
    }

    .footer {
        background-color: $secondary-color;
        color: $primary-color;
        height: 50px;
    }
}