@import "/src/style/static.scss";

.appWrapper {
    width: 100vw;

    .main {
        background-color: $primary-color;
        margin-top: 70px;
        min-height: calc(100vh - 70px);
        // @include pageScroll();
        @include pagePadding();
    }

    .footer {
        background-color: $secondary-color;
        color: $primary-color;
        height: 50px;
    }
}