@import "/src/style/static.scss";

.appWrapper {
    width: 100vw;
    height: 100vh;
    .main {
        background-color: $primary-color;
        width: inherit;
    }
    /* ▼画面サイズ（横幅）が600px以上の場合に適用 */
    @media screen and (min-width: 600px) {
        .main {
            height: 100vh;
        }
    }

    .footer {
        background-color: $secondary-color;
        color: $primary-color;
        height: 50px;
    }
}