@import "./static.scss";

* {
    color: $txt-color;
    font-family: "Roboto";
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 12px;
}

/* ▼画面サイズ（横幅）が600px以上の場合に適用 */
@media screen and (min-width: 600px) {

    h1 {
        font-size: 24px;
    }
    
    h2 {
        font-size: 18px;
    }
    
    h3 {
        font-size: 16px;
        font-weight: 400;
    }
}

ul,
li {
    color: $secondary-color-dark;
}

/* ▼画面サイズ（横幅）が600px以上の場合に適用 */
@media screen and (min-width: 600px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
    }
}
