@import "~/src/style/static.scss";


.tempItem {
    width: inherit;
    height: 500px;
    background-image: url('~/public/station_phone.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.itemNumber {
    text-align: center;
    margin: 10px;
}

/* ▼画面サイズ（横幅）が600px以上の場合に適用 */
@media screen and (min-width: 600px) {
    .tempItem {
        width: inherit;
        height: 70%;
        background-image: url('~/public/station.jpg');
    }



    .tempItem2 {
        width: inherit;
        height: 500px;
        background-image: url('~/public/airplane_phone.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .itemNumber2 {
        text-align: center;
        margin: 10px;
    }
    
    /* ▼画面サイズ（横幅）が600px以上の場合に適用 */
    @media screen and (min-width: 600px) {
        .tempItem2 {
            width: inherit;
            height: 70%;
            background-image: url('~/public/airplane.jpg');
        }
    
        .itemNumber2 {
            font-size: 24px;
        }
    
    }
    .itemNumber2 {
        font-size: 24px;
    }

}