@import "~/src/style/static.scss";

.form {

    .section {
        @include formSection();

        .textArea {
            display: block;
            margin-bottom: 20px;

            label,
            input,
            div {
                color: $secondary-color-dark;
            }

            p {
                color: $hands-up-txt;
            }
        }
    }
}