@import "~/src/style/static.scss";



.contentWrapper {
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: inherit;
    width: inherit;
    -webkit-overflow-scrolling: touch;

    .content {
        scroll-snap-align: start;
        height: 100vh;
        padding: 60px 10px 10px 10px;

        .itemWrapper {
            @include itemWrapper();

            .form {
                width: inherit;
                height: auto;
                background-color: $background-color;
                padding: 10px;

                .textArea {
                    display: block;
                    margin-bottom: 10px;

                    label {
                        color: $secondary-color-dark;
                    }

                    input {
                        color: $secondary-color-dark;
                    }

                    div {
                        color: $secondary-color-dark;
                    }

                    p {
                        color: $hands-up-txt;
                    }
                }
            }

            /* ▼画面サイズ（横幅）が600px以上の場合に適用 */
            @media screen and (min-width: 600px) {
                .form {
                    width: 70%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

    }
}