@import "~/src/style/static.scss";

.btnWrapper {
    text-align: center;
    .button {
        display: inline-block;
        margin: 8px 0;
        padding: 0px 20px;
        height: 30px;
        background-color: $secondary-color;
        color: $primary-color;
        border-width: 0;
        font-weight: 600;
        @include hover();
    }

    /* ▼画面サイズ（横幅）が600px以上の場合に適用 */
    @media screen and (min-width: 600px) {

        .button {
            width: 400px;
        }
    }

}