@import "~/src/style/static.scss";

.contentWrapper {
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: inherit;
}

/* ▼画面サイズ（横幅）が600px以上の場合に適用 */
@media screen and (min-width: 600px) {
    .contentWrapper {
        // overflow: auto;
        // scroll-snap-type: y mandatory;
        // height: calc(100vh - 70px);
        // width: inherit;
        // margin-top: 70px;
    
        .content {
            // height: calc(100vh - 70px);
            // scroll-snap-align: start;
            margin-bottom: 100px;
        }
    }
}